    @media (max-width: 1000px) {
        .smh {
            display: none;
        }
        .header {
            max-width: 30px;
        }
        .header .col>a>p {
            display: none;
        }
        .none {
            display: none;
        }
        .footer {
            display: none;
        }
    }