@media (min-width: 1468px) {
    .big-container {
        max-width: 90vw;
        margin: 5vh auto;
        border-radius: 25px;
        box-shadow: #999999 0px 0px 5px 1px;
    }
    .water-heater,
    .porch-light {
        margin-right: 20px;
    }
}